* {
  margin: 0;
  padding: 0;
  color: inherit;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.__container {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: Roboto, sans-serif;
}
#header {
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 100px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}
.header__logo {
  font-size: 24px;
  margin-left: 10px;
}
h1 {
  font-size: 48px;
  font-weight: 900;
}
.header__title,
.header__logo {
  color: #f9faf8;
}
.header__btn {
  background-color: #3882f6;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex: 1; */
  gap: 50px;
  padding-bottom: 100px;
}

.header__title {
  margin-bottom: 50px;
  max-width: 400px;
}
.header__description {
  width: 450px;
  margin-bottom: 50px;
}
.header__btn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}

/* .header__img {
} */
.header-image {
  padding: 100px 150px;
  /* display: block; */
  background-color: rgb(210, 193, 193);
}
/* end header */
/* start main */
#main {
}
/* start information's section */
#information {
  display: flex;
  flex-direction: column;
}
.information__title {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  padding-bottom: 50px;
  margin: 0 auto;
}
.information__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.information__card {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;
  margin-bottom: 20px;
}
.card__description {
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
/* end */
/* start section of blockquotes */
.blockqoute {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: italic;
  color: #1f2937;
  padding: 10%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
blockquote {
  margin-bottom: 20px;
}
.name_author {
  align-self: flex-end;
  font-weight: 900;
  font-size: 25px;
}
/* end*/
/* start action  */
.action {
  background-color: #3882f6;
  border-radius: 3px;
  padding: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.action__info {
}
.action__title {
  font-size: 35px;
  color: #e5e7eb;
  margin-bottom: 10px;
}
.action__description {
  color: #e5e7eb;
}
.action__button {
}
.action__btn {
  padding: 10px 30px;
  background-color: #3882f6;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
}
.footer {
  background-color: #1f2937;
  padding: 30px;
  text-align: center;
  color: #fff;
}
